*{
    margin: 0%;
    padding: 0%;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}
body{
    background-color: #050e2d;
}
/*scroll bar thanh lăn*/
::-webkit-scrollbar{
    width: 7px;
}
::-webkit-scrollbar-thumb{
    background-color: #1aeeef;
    border-radius: 5px;
}
header{
    position: fixed;
    left: 0;
    top:0;
    width: 100%;
    padding: 7px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #1b2141;
    transition: 0.5s;
    z-index: 1000;
}
header .sticky{
    background: #1b2141;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.1);
}
header .logo{
    position: relative;
    color: #fff;
    text-decoration: none;
    font-size: 2em;
    font-weight: 700;
}
header .nav{
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li{
    list-style: none;
    margin: 10px;
}
header ul li a{
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
}
header ul li a:hover{
    background: #1aeeef;
    color: #050e2d;
    box-shadow: 0px 0px 10px #1aeeef;
}
header .logOut{
    padding: 10px 25px;
    cursor: pointer;
}
header .logOut a{
    display: block;
    text-decoration: none;
    padding: 15px 15px;
    color: black;
}
header .logOut .setting .material-symbols-outlined{
    color: #fff;
    font-size: 2em;
    display: flex;
}
header .logOut .selection{
    display: none;
    position: absolute;
    background-color: #fbfcff;
    min-width: 100px;
    box-shadow: 2px 2px 5px black;
    border-radius: 5px;
}
header .logOut:hover .selection{
    display: block;
}
header .logOut a:hover{
    background: #1aeeef;
    color: #050e2d;
    box-shadow: 0px 0px 10px #1aeeef;
}
/*display*/
.line{
    width: 1500px;
    margin: 50px 100px;
    margin-top: 40px;
    margin-bottom: 40px;
    border: #1aeeef solid 2px;
}
aside{
    width: 1500px;
    height: 600px;
    margin-left: 100px ;
    margin-right: 100px;
    margin-bottom: 10px;
    margin-top: 100px;
    background-color: #1b2141;
    align-items: center;
    justify-content: center;
}
aside .display{
    display: inline-flex;
    width: 1300px;
    height: auto;
    margin-left: 100px ;
    margin-right: 100px;
    margin-bottom: 10px;
    margin-top: 40px;
}
aside .display .leftSide{
    width: 40%;
    height: auto;
    display: flex;
    border: #494949 solid 3px;
}
aside .display .leftSide img{
    width: 100%;
    height: 500px;
}
aside .display .rightSide{
    width: 1000px;
    height: auto;
    display: block;
    padding-left: 100px;
}
aside .display .rightSide .rightSideTop{
    width: 790px;
    height: 170px;
    color: #fff;
}
aside .display .rightSide .rightSideTop h1{
    margin: 10px 10px;
    font-size: 40px;
}

aside .display .rightSide .rightSideTop .tagGame {
    margin-left:10px;
}
aside .display .rightSide .rightSideTop .tagGame h4{
    color: #fff;
    font-size:larger;
    margin-bottom: 7px;
    margin-top: 5px;
    padding-left: 10px;
    display: inline-flex;
}
aside .display .rightSide .rightSideTop .tagGame p{
    font-size: small;
    display:inline-block;
    background: grey;
    border-radius: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
    color: #fff;
    padding: 2px 2px;
}
aside .display .rightSide .rightSideTop .topside{
    margin-left:20px;
    margin-top: 10px;
    font-size: 20px;
}
aside .display .rightSide .rightSideBot{
    width: 790px;
    height: 220px;
    border-bottom: #494949 solid 3px;
    color: #fff;
    margin-bottom: 30px;
}
aside .display .rightSide .rightSideBot .botside{
    margin-left:20px;
    margin-top: 10px;
}
aside .display .rightSide .rightSideBot .botside li{
    margin: 10px;
    font-size: 20px;
}
aside .display .rightSide .container {
    display: flex;
    align-items: center;
    background: linear-gradient(to right, #333, #000);
    padding: 10px;
    margin-left: 300px;
    border-radius: 5px;
    width: fit-content;
}
aside .display .rightSide .container .price {
    color: white;
    margin-right: 20px;
    font-size: 18px;
}
aside .display .rightSide .container .cart-button {
    background-color: #1b2141;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
aside .display .rightSide .container .cart-button:hover {
    background-color: #1aeeef;
    color: #000;
}
/*article*/
article{
    width: 1500px;
    height: auto;
    margin-left: 100px ;
    margin-right: 100px;
    margin-bottom: 50px;
    background-color: #1b2141;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
}
article .content{
    display: block;
    width: 1300px;
    height: auto;
    margin-left: 100px ;
    margin-right: 100px;
    margin-bottom: 10px;
    margin-top: 40px;
}
article .content .detail{
    padding-bottom: 20px;
}
article .content .detail h2{
    font-size: 35px;
    color: #fff;
}
article .content .detail p{
    font-size: 20px;
    color: #fff;
}
article .picShow{
    width: 1300px;
    height: auto;
    padding-bottom: 50px;
}
article .picShow .pic{
    display: block;
    width: 1300px;
    height: 700px;
    margin-left: 100px ;
    margin-right: 100px;
    margin-bottom: 50px;
}
article .picShow .pic img{
    width: 1300px;
    height: 700px;
}
/*lastContent*/
.LastContent{
    width: 1500px;
    height: 600px;
    margin-left: 100px ;
    margin-right: 100px;
    margin-bottom: 100px;
    background-color: #1b2141;
    align-items: center;
    justify-content: center;
}
.LastContent h2{
    padding-top: 20px;
    color: #fff;
    text-align: center;
    font-size: 45px;
}
.LastContent .text{
    display: flex;
    width: 1500px;
    height: 400px;
    margin-top: 20px;
    margin-left: 100px ;
    margin-right: 100px;
    margin-bottom: 10px;
}
.LastContent .text .Leftt{
    display: block;
    width: 40%;
    height: 400px;
    margin-right: 50px;
    margin-top: 20px;
}
.LastContent .text .Leftt h3{
    color: #fff;
    font-size: 1.5em;
}
.LastContent .text .Leftt ul{
    margin-top: 20px;
    margin-left: 50px;
}
.LastContent .text .Leftt ul li{
    color: #fff;
    font-size: 25px;
}
.LastContent .text .line{
    display: block;
    width: 3px;
    height: 400px;
    margin-top: 20px;
    border: #494949 solid 2px;
}
.LastContent .text .Rightt{
    display: block;
    width: 40%;
    height: 400px;
    margin-left: 50px;
    margin-top: 20px;
}
.LastContent .text .Rightt h3{
    color: #fff;
    font-size: 1.5em;
}
.LastContent .text .Rightt ul{
    margin-top: 20px;
    margin-left: 50px;
}
.LastContent .text .Rightt ul li{
    color: #fff;
    font-size: 25px;
}
